.gamfi_v2_hero_btns{
    visibility: unset !important;
}
p {
    margin: auto auto auto 0;
    font-size: 1.5em;
}
ul {
    font-family: Square;
    font-style: normal;
    font-size: 1.5em;
}
h1 {
    margin: auto auto auto 13;
}
.wow {
    margin-top: 1em;
}