.gamfi_v2_hero_btns{
    visibility: unset !important;
}
.sc_banner_v3{
    padding-top:10px;
    padding-bottom:50px;
}
.project_pools_v3{
    padding-top:10px;
}
li.list4{
    padding-right: 10px;
}